fastapi
uvicorn
pydantic
python-dotenv
crewai
crewai[tools]
litellm
duckduckgo-search
qdrant-client
sentence-transformers
langchain
langchain-openai
langchain-huggingface
langchain-qdrant
langchain-community
pypdf
IPython
PyPDF2
PyMuPDF
databricks-sdk
langfuse
sqlalchemy[asyncio]
PyMySQL
asyncmy
aiomysql
aiosqlite
openai
transformers
